<h1>Sign in Here</h1>

<form action="/authenticate">
  <label>First name:</label>
  <input type="text" class= "form" placeholder="Jeff" name="name">
  <br>
  <label>Password:</label>
  <input type="password" class= "form" name="pwd">
  <br>
  <input type="submit">
  <br>
</form>
