<h1>Weather Search</h1>
<label> Traveling? Check the weather...</label>
<form action="/weather/results">
  <div class="form-group">
    <input name="city" type="text" style="width: 175px" placeholder="Search: Chicago, IL">
  </div>
  <input type="submit" class="input-md">
</form>
