<h1>Weather Search</h1>
<p>Traveling today? Check the weather..</p>
<form action="/weather/results">
  <div class="form-group">
    <input name="city" type="text" style="width: 205px" placeholder="Search: Chicago, IL">
  </div>
  <input type="submit" class="input-md">
</form>
