<div class="page-header">
  <h1>Sign Up</h1>
</div>

<form action="/members/create" class="col-md-4">

  <div class="form-group">
    <label class="control-label">First Name:</label>
    <input name="first_name" type="text" class="form-control input-md" placeholder="First">
  </div>

<div class="form-group">
    <label class="control-label">Last Name:</label>
    <input name="last_name" type="text" class="form-control input-md" placeholder="Last">
  </div>


<div class="form-group">
    <label class="control-label">Company:</label>
    <input name="company" type="text" class="form-control input-md" placeholder="Company">
  </div>

<div class="form-group">
    <label class="control-label">Location:</label>
    <input name="location" type="text" class="form-control input-md" placeholder="Location">
  </div>

  <div class="form-group">
    <label>Create Password:</label>
    <input name="password" type="text" class="form-control input-md" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-success btn-md">Complete Registration</button>

</form>
